@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

html {
  scroll-behavior: smooth;
}

#home {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

/*TOP*/

#top {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  border: solid 3px rgba(0, 0, 0, 0.541);
  border-radius: 1.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  margin-top: 0;
  position: relative;
}

#tp_header {
  font-size: 10.41vh;
  font-weight: 300;
  margin-top: 6vh;
  margin-bottom: 20px;
}

#made_by {
  margin-top: 0;
}

.authors {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.65vh;
  margin-top: 0;
}

.authors > h3 {
  font-weight: 400;
  font-size: 3vh;
  margin-bottom: 0.65vh;
}

.authors > img {
  width: calc(1vw + 12vh);
  margin-top: 0;
}

#continue_button {
  height: calc(10vw * 0.45);
  background: url("src/cc1.jpg");
  background-size: cover;
  background-position: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  margin-top: calc(3vh + 2vw);
}

#continue_button:hover {
  opacity: 0.8;
}

#continue_button > p {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 300;
  font-size: calc(10vw * 0.15);
  padding: 5% 9%;
  border: solid 1.5px white;
}

/*BOTTOM*/

#bot {
  height: 100vh;
  width: 100vw;
  background-image: url(src/cc2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bot > h1 {
  color: rgb(187, 187, 187);
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 13.02vh;
  font-size: 7.61vh;
}

.nav_button {
  text-decoration: none;
  color: white;
  font-family: "Roboto";
  font-size: 4vh;
  font-weight: 300;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.418);
  text-align: center;
  width: 100vw;
  padding: 0.65vh;
  opacity: 0.7;
  transition: 250ms ease-in-out;
}

.nav_button:hover {
  opacity: 1;
}

/*HISTORY*/

#history_page {
  font-family: "Roboto";
  background-color: #edcf91;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#history_page > h1 {
  font-size: 10.42vh;
  font-weight: 400;
  color: rgb(46, 46, 46);
  margin-bottom: 10vh;
}

#history_page > a {
  margin-bottom: 10vh;
}

#oldvigan {
  width: 50vw;
}

#history_content {
  width: 100vw;
  height: auto;
  background-image: url(/src/oldvigan2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1vh 3.93vw;
}

#paragraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3.39vh;
  font-weight: 500;
}

.history_par {
  padding: 1vh 3.93vw;
  color: rgb(46, 46, 46);
}

#timeline {
  padding: 1vh 3.93vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(46, 46, 46);
}

#timeline > h1 {
  font-size: 7vh;
  font-weight: 400;
}

#timeline > h4 {
  font-size: 5vh;
  margin-bottom: 0;
}

#timeline > img {
  width: 50vw;
  border-radius: 1.3vh;
}

#timeline > p {
  font-size: 3.26vh;
}

.histmargin {
  margin-top: 30vh;
}

/* BUTTONS */

.buttons > a {
  font-family: "Roboto";
  color: white;
  background-color: rgba(0, 0, 0, 0.219);
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}

.buttons > a:hover {
  background-color: rgba(0, 0, 0, 0.637);
}

/* CULTURE */

#culture {
  background-color: rgb(54, 54, 54);
  color: white;
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#culture_header {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

#culture_header > img {
  width: 20vw;
}

#culture_header > h1 {
  font-weight: 300;
}

#culture > p {
  width: 70%;
  font-size: 3vh;
  font-weight: 300;
  margin: 5%;
  padding: 2%;
  border: solid 1px white;
  margin-bottom: 10vh;
}

.culturebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.culturebox > div {
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.culturebox > div > img {
  width: 65%;
  margin-bottom: 5%;
  border-radius: 2%;
}

.culturebox > div > h4 {
  font-size: 3.91vh;
  padding: 2%;
  font-weight: 300;
}

.culturebox > div > p {
  font-size: 2.5vh;
  padding: 2%;
  font-weight: 300;
}

#festival_header {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#festival_header > img {
  width: 20vw;
}

#festival_header > h1 {
  font-weight: 300;
}

#festival {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

#festival > h4 {
  font-size: 3.91vh;
  font-weight: 300;
}

#festival > img {
  width: 60%;
  border-radius: 2%;
}

#festival > p {
  font-size: 2.5vh;
  margin-bottom: 10vh;
}

/* SITES */

#sites {
  font-family: "Roboto";
  color: rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sites > h1 {
  border-bottom: 2px solid black;
  font-size: calc(3vh + 1.5vw);
  text-align: center;
  align-self: center;
  margin-bottom: 10vh;
  font-weight: 300;
}

.place_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.place_box > div {
  padding: 8%;
}

.place_images {
}

.place_images > img {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
  border: 2px solid rgb(49, 49, 49);
}

#sitebuttons > a {
  font-family: "Roboto";
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}

#sitebuttons > a:hover {
  background-color: rgb(0, 0, 0);
}
